:root {
  /* Colors */
  --lime: #d8db2f;
  --slate-900: #133041;
  --slate-700: #4e6e7e;
  --slate-500: #6b94a8;
  --slate-300: #9abed5;
  --slate-100: #e4f4fd;
  --special-red: #d73328;

  /* Typography */
  --ff-sans: "Plus Jakarta Sans", sans-serif;
}

/* Pour centrer mes cartes */

body {
  min-height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: content-box;
  font-family: var(--ff-sans);
}

.white_background_section {
  margin: 32px 24px;
}

.chapeau {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

h1 {
  font-size: 2em;
  line-height: 125%;
  font-weight: 700;
  font-style: normal;
  margin: 0.5em 0;
  color: var(--slate-900);
}

#clear_all_fields_button {
  display: block;
  width: fit-content;
  border: none;
  background: none;
  margin: 0;
  padding: 0;
  text-decoration-line: underline;
  color: var(--slate-700);
  font-size: larger;
}

.zone_de_saisie {
  margin-top: 2em;
}

fieldset {
  border: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;

  label,
  legend {
    color: var(--slate-700);
    font-size: larger;
    line-height: 150%;
  }

  .complex_input_field {
    display: flex;
    align-items: center;

    margin-bottom: 2em;
    margin-top: 1em;
    height: 55px;
    border: solid 1px var(--slate-500);
    border-radius: 4px;
  }

  .input_clarification_block {
    padding: 0px 16px;
    height: 100%;
    align-content: center;
    color: var(--slate-700);
    font-weight: 500;
    font-size: x-large;
    border-radius: 2px;
    background-color: var(--slate-100);
  }

  input {
    width: 100%;
    color: var(--slate-900);
    font-weight: bold;
    font-size: x-large;
    border: none;
    padding-left: 1rem;
    height: 52px;
    width: calc(100% - 2px);
  }

  .radio_button_big_area {
    display: flex;
    align-items: center;
    margin-top: 1em;
    height: 55px;
    border: solid 1px var(--slate-500);
    border-radius: 4px;

    .radio_button {
      width: auto;
      margin: 0px 16px;
    }
  }
}

#submit_button {
  margin: 2em 0;
  width: 100%;
  background-color: var(--lime);
  color: var(--slate-900);
  font-weight: 500;
  font-size: x-large;
  letter-spacing: 1px;
  word-spacing: 0.5rem;
  padding: 1em;
  border-radius: 2em;
  border: none;
  display: flex;
  flex-direction: row;
  gap: 0.8em;
  justify-content: center;
  p {
    margin: 0 0 0 0.6em;
  }
}

.radio_input_fieldset {
  display: block;
  margin-bottom: 2em;
}

.dark_background_section {
  background-color: var(--slate-900);
  padding: 32px 24px;
  h2 {
    color: white;
  }

  p {
    color: var(--slate-300);
    font-size: large;
  }

  text-align: justify;
}

#final_result_1 {
  color: var(--lime);
  font-size: xxx-large;
  font-weight: 700;
}

#display_of_results {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 1.5em;
  border-radius: 10px;
  border-top: solid 5px var(--lime);
}

.division_line {
  border-top: solid 1px #9abed54d;
  margin: 1em 0;
}

#final_result_2 {
  color: white;
  font-size: xx-large;
  font-weight: 700;
}

/* Before calculation and result */
#empty_results_area {
  display: none;
}

/* Form styling */
input:checked {
  accent-color: var(--lime);
}

.complex_input_field:has(input:focus) {
  border: solid 1px var(--lime);
  input {
    outline: none;
  }

  .input_clarification_block {
    background-color: var(--lime);
  }
}

.complex_input_field_Warning_ON {
  border: solid 1px var(--special-red) !important;
  input {
    outline: none;
  }

  .input_clarification_block {
    background-color: var(--special-red);
    color: white !important;
  }
}

.radio_button_big_area:has(input:checked) {
  border: solid 1px var(--lime);
  background-color: #d8db2f26;
}

/* Warning Management */
/* The OFF warnings need to be above the ON warnings */

.requirement_warning_message_OFF {
  display: none;
}

.requirement_warning_message_ON {
  position: relative;
  top: -1.8em;
  color: var(--special-red);
  display: block;
}

/* Responsiveness */
@media screen and (min-width: 768px) {
  body {
    background-color: var(--slate-100);
  }

  main {
    width: 85%;
    background-color: white;
    margin: 2em 0;
    border-radius: 24px;
  }

  .chapeau {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #moving_inputs {
    display: flex;
    flex-direction: row;
    gap: 2em;
  }

  #submit_button {
    width: fit-content;
  }

  .dark_background_section {
    border-radius: 0 0 24px 24px;
  }
}

@media screen and (min-width: 1200px) {
  main {
    display: flex;
  }

  .white_background_section {
    width: 60%;
  }

  .dark_background_section {
    padding: 40px;
    width: 40%;
    border-radius: 0 24px 24px 100px;

    p {
      line-height: 150%;
    }
  }
}
